export(batch_sampler_stratified, batch_sampler_random, MeasureClassifROCAUM, MeasureClassifInvAUC, nn_ROCAUM_loss, ROCAUM)
export(nn_squared_hinge_loss, SquaredHingeLoss)
export(Draw_ROC_curve_macro,Draw_ROC_curve_micro,ROC_AUC_macro,ROC_AUC_micro,ROC_AUM_macro,ROC_AUM_micro)
export(nn_pairwise_auc_loss, pairwise_auc_surrogates)
export(SMOTE, SVMSMOTE, SMOTENC, SMOTEN, ADASYN)
export(RandomOverSampler)
export(AUCM, nn_AUCM_loss, make_pesg_callback, optim_pesg, make_pesg_callback_full)
export(nn_CompositionalAUC_loss, optim_pdsca, make_pdsca_callback)
export(batch_sampler_dual)
export(mcp_curve, mcp_score, imcp_curve, imcp_score, MeasureClassifIMCP, MeasureClassifMCP, nn_IMCP_loss, nn_MCP_loss)
importFrom(data.table, data.table)
importFrom(mlr3, MeasureClassif, msr)
importFrom(R6, R6Class)
importFrom(stats, runif, setNames, rbeta, median, dist, rnorm)
importFrom(ggplot2, aes)
importFrom(ggplot2, geom_line)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, labs)
importFrom(ggplot2, theme_minimal)
